.service {
  padding: 160px 0px;
  @include mobile {
    padding: 120px 0px;
  }
  h5 {
    width: 856px;
    height: 174px;
    line-height: 120%;
    @include mobile {
      width: 351px;
      height: 190px;
      margin-top: 24px;
    }
  }
  h6 {
    line-height: 120%;
  }
  .card-group {
    margin-top: 80px;
    @include mobile {
      margin-top: 48px;
    }
    li {
      border: 1px solid #525252;
      padding: 80px 40px;
      width: 26%;
      border-radius: 15px;
      @include mobile {
        width: 93%;
        padding: 40px 12px;
        margin-top: 12px;
      }
      img {
        margin-left: 12px;
      }
      p {
        color: #f2f2f2;
        line-height: 150%;
      }
      h6 {
        margin: 26px 0px 20px 0px;
        @include mobile {
          font-size: $font-md;
        }
      }
    }
  }
}

.parnet {
  .logobox {
    img.logo1 {
      margin: 80px auto 20px auto;
    }
    img {
      margin: 0 auto;
    }
  }

  .card-group {
    margin-top: 160px;
    @include mobile {
      margin-top: 48px;
    }
    li {
      padding: 40px;
      width: 26%;
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.08);
      box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07),
        0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198),
        0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275),
        0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035),
        0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725),
        0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
      @include mobile {
        width: 93%;
        padding: 40px 15px;
        margin-top: 12px;
        margin: 12px auto 0px auto;
      }

      p.des {
        color: #f2f2f2;
        margin: 20px 0px;
        height: 215px;
        line-height: 150%;
        @include mobile {
          height: 165px;
        }
      }
      .name {
        margin-bottom: 5px;
      }
    }
  }
}

.container-fluid-2 {
  background-color: white;
  border-radius: 160px;
  @include mobile {
    border-radius: 20px;
  }
  color: black;

  .tool {
    margin-top: 120px;
    overflow: hidden;
    padding: 160px 0px;
    @include mobile {
      padding: 80px 0px;
    }
    p {
      font-size: 80px;
      font-weight: $font-w;
      text-align: center;
      line-height: 120%;
      @include mobile {
        font-size: $font-md;
      }
    }
    .search {
      margin: 80px auto 0px auto;
      position: relative;
      @include mobile {
        align-items: center;
        margin: 32px auto 0px auto;
      }
      img {
        left: 43px;
        position: absolute;
        z-index: 100;
        @include mobile {
          top: 19px;
        }
      }
    }
    input {
      width: 100%;
      padding: 20px 0px;
      padding-left: 76px;
      background-color: #f2f2f2;
      border: none;
      border-radius: 16px;
      font-size: 16px;
    }
    .toolbtn {
      margin: 24px 0px 40px 0px;
      p {
        font-size: 16px;
        margin-right: 15px;
      }
      li.active {
        background-color: #f2f2f2;
        border-radius: 16px;
        color: black;
        font-weight: 900;
      }
      ul.hidden-lgf {
        @include mobile {
          display: block;
          overflow-x: scroll;
        }
      }
      li {
        color: #919191;
        padding: 8px 16px;
        @include mobile {
          display: inline-block;
        }

        &:hover {
          background-color: #f2f2f2;
          border-radius: 16px;
          color: black;
          font-weight: 900;
        }
      }
      button {
        padding: 20px 40px;
        background-color: white;
        border-radius: 16px;
        border: 1px solid #f2f2f2;
        @include mobile {
          font-size: 16px;
        }
      }
    }
    .toolbtn-center {
      white-space: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
      @include mobile {
        display: flex;
      }
    }
    .card-group {
      @include mobile {
        margin-top: 0px;
      }
      transition: all 0.3s;
      li {
        border: 1px solid #f2f2f2;
        border-radius: 16px;
        width: 32%;
        @include mobile {
          width: 100%;
          margin-top: 12px;
        }
        &:hover .imgbox img {
          transform: scale(1.2);
        }
        .card {
          .imgbox {
            border-radius: 16px 16px 0px 0px;
            overflow: hidden;
            img {
              transition: all 0.3s;
              width: 100%;
            }
          }
          .text {
            padding: 20px 32px;
            border-bottom: 1px solid #f2f2f2;

            h6 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
              margin-top: 12px;
              color: #525252;
              text-align: left;
              line-height: 150%;
              font-weight: 400;
              height: 42px;
            }
          }
          .text-h {
            @include mobile {
              height: 100px;
            }
          }
          .line {
            padding: 20px 32px;

            p {
              font-size: 16px;
              font-weight: 400;
            }
            p.title {
              font-weight: 900;
            }
          }
          .bottom {
            border-bottom: 1px solid #f2f2f2;
          }
        }
      }
    }
    .paging {
      margin-top: 40px;
      li {
        padding: 16px 20px;
        font-size: 14px;
      }
      li.active {
        background-color: black;
        color: white;
        border-radius: 16px;
      }
    }
  }
}

//page2

.price {
  padding: 160px 0px;
  @include mobile {
    padding: 120px 0px;
  }
  h6 {
    line-height: 120%;
  }

  li.card {
    width: 49%;
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    margin: 10px 0px;
    @include mobile {
      width: 100%;
      margin-top: 20px;
    }
    h6 {
      margin-top: 20px;
    }
    .card-content {
      height: 254px;
      padding: 0px 32px;
    }
    .bottom {
      border-bottom: 1px solid #f2f2f2;
    }
    ul {
      list-style: disc;
      padding: 0px 32px;
      li {
        margin-top: 12px;
      }
    }
    .card-footer {
      font-size: 20px;
      padding: 20px 32px;
      .gray {
        color: #919191;
      }
      img {
        margin-left: 15px;
        width: 10px;
      }
    }
  }
}

.rules {
  @include mobile {
    flex-direction: column;
  }
  .mt--40 {
    margin-top: -40px;
  }
  .rule {
    @include mobile {
      margin-top: 48px;
    }
  }
  .rule-box {
    border-bottom: 1px solid #525252;
    margin-top: 40px;
    h6 {
      font-size: 32px;
      font-weight: 900;
      @include mobile {
        font-size: 20px;
      }
    }
    h5 {
      font-size: 48px;
      @include mobile {
        font-size: 32px;
      }
    }

    p {
      font-size: 32px;
      margin: 24px 0px 40px 0px;

      @include mobile {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}

.questions {
  margin: 158px 0px;
  font-weight: 900;
  @include mobile {
    flex-direction: column;
  }
  .mt--40 {
    margin-top: -40px;
  }
  .question {
    width: 856px;
    @include mobile {
      margin-top: 48px;
      width: 100%;
    }
  }
  .question-box {
    border: 1px solid #525252;
    padding: 25px 45px;
    border-radius: 16px;
    margin-bottom: 15px;
    h6 {
      font-size: 32px;
      font-weight: 900;

      @include mobile {
        font-size: 20px;
      }
    }
    h5 {
      font-size: 20px;
      margin-left: 15px;
    }
    img {
      width: 14px;
      height: 14px;
    }
    p {
      font-size: 16px;
      margin: 20px 30px 0px 30px;
    }
  }
}
